@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    font-family: NanumSquare;
}

#container{
    margin-top: 30px;
    border: 1px solid rgb(198, 196, 196);
    width: 600px;
    height: 820px;
}

header{
    margin: 0;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid gray;
}

#header-btn{
    color: black;
    font-size: 20px;
}

#title{
    font-size: 15pt;
    margin-left: 10px;
}

i{
    cursor: pointer;
    font-size: 25px;
    transition-property: transform, color;
    transition-duration: 0.5s;
    color: gray;
}

i:nth-child(3){
    color: black;
    cursor: auto;
}

i:hover{
    transform: translateY(-5px);
    color: black;
}

nav{
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 62px; 
    background-color: rgb(243, 243, 243);
}

article{
    margin-left: 10px;
}

main{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    height: 700px;
}

main::-webkit-scrollbar{
    display: none;
}

figure{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-image: url(/resources/userImg/profile.png);
    background-size: cover;
}

#profile-container{
    display: flex;
    align-items: center;
}

table{
    width: 450px;
    display: flex;
    justify-content: space-around;
    font-size: 15pt;
}

.profile-score{
    font-size: 15pt;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.profile-text {
    font-size: 10pt;
    display: flex;
    justify-content: space-evenly;
}

section{
    padding-inline: 20px;
}

#edit{
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    color: gray;
    transition: all 0.5s;
    cursor: pointer;
}

#edit:hover{
    transform: translateY(-10px);
    color: black;
}

#profile-nav{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid gray;
}

#profile-nav > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid black;
    width: 50%;
    height: 100%;
}

#profile-nav > div:nth-child(2){
    display: flex;
    justify-content: center;
    width: 50%;
}

#profile-nav > div:nth-child(1)> i{
    color: black;
    cursor: auto;
}

.row{
    height: 200px;
}
.col{
    background-color: rgb(208, 207, 207);
    border-bottom: 1px solid gray;
    border-inline: 1px solid gray; 
}

.user-name{
    font-weight: bold;
}

#reply-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.replay-btn{
    margin-left: 3px;
    border: none;
    background-color: white;
    color: gray;
    transition: color 0.8s;
}

.replay-btn:hover{
    color: black;
}

.modal{
    height: 800px;
}

.modal-dialog {
    max-width: 1100px;
}

.modal-body{
    display: flex;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.modal-body::-webkit-scrollbar{
    display: none;
}

.reply-carousel{
    width: 600px;
}

#reply-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.content-box{
    width: 100%;
    height: 80%;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.reply-box{
    display: flex;
    justify-content: space-around;
}

.reply-comment{
    width: 70%
}

.reply-box > i{
    font-size: 13px;
}

#reply-form{
    display: flex;
    border-top: 1px solid rgb(243, 243, 243);
    height: 60px;
}

.reply-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply-form-container > input{
    width: 70%;
    border: none;
}

.reply-form-container > button{
    margin-left: 10px;
    border: none;
    background-color: white;
    transition-property: transform;
    transition-duration: 0.5s;
}

.reply-form-container > button:hover{
    transform: translatey(-5px);

}

#content-nav{
    display: flex;
    justify-content: space-around;
}

.update, .delete{
    display: flex;
    justify-content: center;
    border: 0.5px solid rgb(243, 243, 243);
    width: 100%;
    transition: all 0.5s;
    color: gray;
    cursor: pointer;
}

.update:hover, .delete:hover{
    border: 1px solid black;
    color: black;
}